
* {
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
}
body {
    background: linear-gradient(158.36deg, #045E33 42.43%, #074D63 85.71%);
}
/* .maket-img {
    background-image: url("../source/Главная.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
.container {
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.btn {
    font-weight: 500;
    font-size: 25px;
    line-height: 1;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    padding: 23px 35px;
    background: #FE8500;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}
.text-center {
    text-align: center;
}
/* _________________________________header */
.header {
}
.header-wrapper {
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    min-width: 154px;
}
.header-logo-img {
}
.header-nav {
    padding-left: 15px;
    padding-right: 15px;
    align-self: start;
}
.header-nav-list {
    /* padding-top: 23px; */
    display: flex;

}
.nav-item:not(:last-child) {
    margin-right: 31px;
}
.nav-item {
}
.nav-link {
    display: inline-block;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #BA8342;
}
.header-contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 10px; */
}
.contact-link {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #BA8342;
    /* padding: 2px; */
    /* padding-top: 0; */
}
.header-social {
}
.social-link {
    display: inline-block;
    /* padding: 5px; */
    /* padding-top: 0; */
}

/* _________________________________section-hero */
.section-hero-wrapper {
    background-image: url("../img/hero-fon.jpg");
    background-repeat: no-repeat;   
    background-size: cover;
    margin-top: -96px;    
}
.section-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-hero-heading {
    padding-top: 241px;
    padding-left: 70px;
    margin: 0;
    margin-bottom: 7px;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

}
.section-hero-subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.section-hero-list {
    /* padding-left: 210px; */
    /* padding-right: 210px; */
}
.hero-list-item:not(:last-child) {
    margin-bottom: 5px;
}
.hero-list-item:last-child {
    margin-bottom: 25px;
}
.hero-list-item {
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    
}
.hero-list-item svg {
    margin-right: 4px;
}
.btn {
}
.hero-btn {
    margin-top: 20px;
    margin-bottom: 200px;
    align-self: center;
}
/* _________________________________section-advantages */
.section-advantages {
}
.section-advantages-wrapper {
    background-image: url("/img/advantages-fon.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
}
.section-advantages-container {
}
.section-advantages-description {
}
.section-advantages-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    /* identical to box height */
    color: #FFFFFF;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}
.advantages-list {
}
.advantages-list-row1{
    display: flex;
    justify-content: space-between;
}
.advantages-list-row2 {
    display: flex;
    justify-content: space-around;
    padding: 0 122px;
    margin-top: 75px;
    padding-bottom: 100px;

}
.advantages-item {
    width: 238px;
    height: 238px;
    background: rgba(205, 241, 175, 0.08);
    border: 2px solid #FE8500;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.advantages-item p{
    margin: 0;
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 0 5px;
    color: #FFFFFF;
}